<!DOCTYPE html>
<html lang="nl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/Login_v2/css/main.css">
  <link rel="stylesheet" href="/Login_v2/css/util.css"> </head>

<body>
      <header>
        <h1>Error</h1>
      </header>
      <main>
        <div>
          <img class="errorimg" src="../db/errorimg/400.jpg" alt="">
        </div>
        <div class="error-page">
            <div id="error-message">
              <h2 id="error-title"><span>Jahoor</span> hoor, een 404!</h2>
              <p  id="error-context">Ik heb het idee dat je weer eens iets verkeerds hebt ingevuld.</p>
            </div>
            <a href="../Login_v2/login.html">
                <button> Terug naar de login pagina </button>
            </a>

        </div>
      </main>
</body>

</html>
